<div class="container d-flex align-items-center my-2 displayContainer">
    <div class="w-50 d-flex flex-column justify-content-center align-items-center">
        <h3><em>Are you hungry?</em></h3>
        <h1>Don't wait Order now !!</h1>
        <a class="orderButton" href="/menu">Order Now!</a>
    </div>
    <div class="w-50 d-flex justify-content-center align-items-center">
        <img class="bd-placeholder-img displayImg" src="/img/hero-pizza.png" alt="loading">
    </div>
</div>