<div class="container orderContainer my-4">
    <h1 class="text-center orderText my-4"><em>Order Summary For Admin</em></h1>

    <table class="table table-dark table-striped">
        <div class="container">
            <thead>
                <tr>
                    <th class="border">Orders</th>
                    <th class="border">Customer</th>
                    <th class="border">Address</th>
                    <th class="border">Contact</th>
                    <th class="border">Status</th>
                    <th class="border">Placed at</th>
                </tr>
            </thead>
            <tbody id="adminOrderTableBody">
                
            </tbody>
        </div>
    </table>
</div>