@import "./variable.scss";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark_color;
}

body li {
    list-style: none;
}

body a {
    text-decoration: none;
    color: $dark_color;
}

.colorHover {
    color: $hover_color;
}

// Navbar Section:

.logoImg {
    border-radius: 26px;
}

.navbar-dark .navbar-brand {
    color: $light_color;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.navbar-dark .navbar-brand:hover {
    color: $light_color;
}

.navbar-dark .navbar-nav .nav-link {
    color: $light_color;
    font-size: 18px;
    transition: $smooth;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $hover_color;
    transition: $smooth;
}

.coder {
    color: $secondary_color;
}

.fas {
    color: $pure_color !important;
    transition: $smooth;
}

.fas:hover {
    color: $hover_color !important;
    transition: $smooth;
}

// Home Section:

.displayImg {
    width: 500px;
    height: 450px;
}

.displayContainer {
    background: $background_color;
    padding: 85px 0px;
    width: 1297px;
}

.orderButton {
    background: $hover_color;
    border: 2px solid $dark_color;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    color: $pure_color;
    transition: $smooth;
    padding: 5px 10px;
}

.orderButton:hover {
    transition: $smooth;
    border: 2px solid $dark_color;
    background: $secondary-hover;
    transform: scale(0.9);
    color: $dark_color;
}

// Menu Section:

.menuContainer {
    background-color: $background_color;
    padding: 15px 0px;
    width: 1297px;
}

.menu_card {
    width: 30%;
    display: inline-block;
    margin: 0px 20px;
    margin-bottom: 25px;
}

.menuPizzaImgContainer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.menuPizzaImg {
    padding: 30px 10px;
}

.munuPizzaInfo {
    width: 70%;
}

.pizzaSize {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: $background_color;
    padding: 3px 8px;
    border-radius: 12px;
}

.pizzaPrice {
    font-size: 18px;
    font-weight: bolder;
    background: $light_color;
    padding: 1px 5px;
}

.pizzaButton {
    border: none;
    outline: none;
    border: 2px solid $background_color;
    border-radius: 15px;
    background: $hover_color;
    padding: 3px 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: $pure_color;
}

.pizzaButton:hover {
    transition: $smooth;
    background: $secondary-hover;
    transform: scale(0.9);
}

// Empty Cart Section:

.cartContainer {
    background: $background_color;
    width: 1297px;
}

.cartSecondaryContainer {
    background: $background_color;
}

.cartButton {
    background: $hover_color;
    width: 10%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 22px;
    color: $pure_color;
    display: block;
}

.cartButton:hover {
    color: $pure_color;
    background: $secondary-hover;
    transition: $smooth;
    transform: scale(0.8);
}

.cartImg {
    width: 45%;
    margin: 0px auto;
    border: 2px solid $pure_color;
}

.cartHeading {
    padding: 20px 0px;
    font-size: 50px;
    font-weight: bold;
}

.cartPara {
    padding: 0px 234px;
    font-size: 23px;
    font-weight: bold;
    color: $hover_color;
}

// Filled Cart Section:

.cartCounter {
    color: $hover_color;
    font-size: 16px;
    font-weight: bold;
}

.fccInfo {
    border-bottom: 2px solid $pure_color;
}

.fccImg {
    background: $pure_color;
    width: 65px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 12px;
    border: 2px solid $dark_color;
}

.fccHeading {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 35px;
    color: $hover_color;
}

.filledCartContainer {
    background: $background_color;
    width: 65%;
}

.listImg {
    width: 150px;
    height: 150px;
    padding: 20px 15px;
}

.listHeading {
    font-size: 30px;
    font-weight: bold;
    color: $secondary-hover;
    display: block;
    width: 100%;
}

.listSize {
    background: $pure_color;
    padding: 2px 10px;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: bold;
    display: block;
    color: $dark_color;
    text-align: center;
    width: 80px;
    font-size: 16px;
    margin-top: 10px;
}

.firstDiv {
    width: 51%;
}
.secondDiv {
    width: 29%;
}

.listQuantity {
    background: $hover_color;
    padding: 5px 5px;
    font-size: 18px;
    border-radius: 10px;
    color: $pure_color;
}

.listPrice {
    background: $hover_color;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: $pure_color;
}

.indPizza {
    border-bottom: 2px solid $pure_color;
}

.infoSummary {
    text-align: right;
}

.priceText {
    font-weight: bold;
    font-size: 20px;
}

.totalPrice {
    color: $hover_color;
    font-size: 30px;
}

.finalOrderButton {
    margin-top: 20px;
    margin-bottom: 5px;
    border: none;
    background: $hover_color;
    padding: 5px 14px;
    border-radius: 22px;
    font-size: 19px;
    font-weight: bold;
    border: 1px solid $pure_color;
    color: $pure_color;
}

.finalOrderButton:hover {
    transition: $smooth;
    background: $secondary-hover;
    transform: scale(0.8);
}

.phoneNumber {
    outline: none;
    border: none;
    border-bottom: 2px solid $primary_color;
    background: none;
    font-size: 19px;
    font-weight: bold;
    color: $secondary-hover;
}

.clientAddress {
    outline: none;
    border: none;
    border-bottom: 2px solid $primary_color;
    background: none;
    font-size: 19px;
    font-weight: bold;
    color: $secondary-hover;
}

.userNotLoged {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px 14px;
    font-size: 19px;
    font-weight: bold;
    background: $hover_color;
    border-radius: 22px;
    border: 2px solid $pure_color;
    color: $pure_color;
}

.userNotLoged:hover {
    transition: $smooth;
    background: $secondary-hover;
    transform: scale(0.8);
    color: $pure_color;
}

// Login and Register Utilities Classes:

.loginContainer {
    width: 1000px;
    background: $background_color;
    margin-top: 33px;
    margin-bottom: 33px;
}

.loginForm {
    padding: 20px 40px;
    width: 80%;
    margin: 0px auto;
}

.notAccount {
    display: inline-block;
    margin: 10px 0px;
    font-size: 25px;
    font-weight: bold;
    color: $hover_color;
}

.notAccount:hover {
    color: $secondary-hover;
    text-decoration: underline;
    transition: $smooth;
}

.loginText {
    display: inline-block;
    margin: 0px 0px;
    font-size: 25px;
    font-weight: bold;
    color: $secondary_color;
}

.loginSubText {
    color: $darkBlue_color;
    font-size: 15px;
    font-weight: bold;
}

// Single Page Section:

.status {
    background: $background_color;
    width: 1297px;
    height: 680px;
}

.statusHeading {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    color: $hover_color;
    background: $pure_color;
    padding: 5px 10px;
    border-radius: 30px;
    border: 2px solid $dark_color;
}

.statusId {
    background: $pure_color;
    padding: 5px 10px;
    border-radius: 30px;
    border: 2px solid $dark_color;
    font-weight: bold;
    font-size: 20px;
    color: $secondary-hover;
}

.subId {
    color: $hover_color;
}

.status .lowerPart {
    padding: 10px 20px;
}

.statusLine {
    padding-bottom: 70px;
}

.statusLine span {
    font-size: 25px;
    font-weight: bold;
    color: $secondary-hover;
    position: relative;
    margin-left: 60px;
}

.statusLine span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    background: $dark_color;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $background_color;
}

.statusText {
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: $hover_color;
}

.completed {
    color: $completed_color;
}

.currentlyWorking {
    color: $currently_color;
}

// Icons:

.fontawesomeIcons {
    color: $dark_color !important;
    font-size: 40px;
    font-weight: bold;
}

.cardBoard {
    font-size: 51px;
}

.doubleCheck {
    font-size: 38px;
}

.completion {
    font-size: 38px;
}

.truck {
    font-size: 30px;
}

// Line:

.status .lowerPart ul li {
    position: relative;
}

.status .lowerPart ul li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 80px;
    width: 2px;
    height: 100%;
    background: $dark_color;
    margin-top: 10px;
}

.status .lowerPart ul li:nth-child(5) span::after {
    box-shadow: 0 15px 1px 17px $background_color;
}

// Noty:
.noty_theme__mint.noty_type__success {
    background-color: $hover_color !important;
    border: 2px solid $darkBlue_color !important;
    border-radius: 50px;
    color: $pure_color !important;
    font-weight: bold !important;
    font-size: 25px !important;
    letter-spacing: 1px !important;
    padding-left: 8px !important;
}

.noty_theme__mint.noty_type__error {
    background-color: $secondary-hover !important;
    border: 2px solid $darkBlue_color !important;
    border-radius: 50px !important;
    color: $pure_color !important;
    font-weight: bold !important;
    font-size: 25px !important;
    letter-spacing: 1px !important;
    padding-left: 8px !important;
}

// Error Message:

.errMessage {
    color: $error_color;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
}

.successMessage {
    color: $sucess_color;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
}

// Order Text:

.orderText {
    font-weight: bold;
    color: $hover_color;
}

// Id Text:
.idText {
    color: $hover_color;
}

.idText:hover {
    color: $secondary-hover;
}

// Making Responsive:

// For wider Screen:
@media (max-width: 1400px) {
    .displayContainer {
        width: 1115px;
    }
    .menuContainer {
        width: 1115px;
    }
    .loginContainer {
        width: 1115px;
    }
    .cartContainer {
        width: 1115px;
    }
    .status {
        width: 1115px;
    }
}

@media (max-width: 1200px) {
    .displayContainer {
        width: 940px;
    }
    .menuContainer {
        width: 940px;
    }
    .loginContainer {
        width: 940px;
    }
    .cartContainer {
        width: 940px;
    }
    .status {
        width: 940px;
    }
}

@media (max-width: 1100px) {
    // Navbar Section
    .navbar-dark .navbar-brand {
        color: #f4f4f4;
        font-size: 20px;
        letter-spacing: 0px;
        font-weight: 0px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #f4f4f4;
        font-size: 16px;
    }
    // Home Section:
    .displayContainer {
        padding: 50px 0px;
        width: 935px;
        flex-direction: row;
        justify-content: space-between;
    }
    .w-50 {
        width: 100% !important;
    }
    .displayContainer h3 {
        font-size: 35px;
        font-weight: bold;
    }
    .displayContainer h1 {
        font-size: 29px;
        font-weight: bold;
    }
    .displayImg {
        width: 300px;
        height: 350px;
        margin: 0px auto;
        margin-left: 65px;
    }
    .orderButton {
        font-size: 25px;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    // Menu And Offer Section:
    .menuContainer {
        padding: 15px 0px;
        width: 935px;
    }
    .menu_card {
        width: 45%;
        margin: 20px auto;
        margin-left: 30px;
    }
    .menuPizzaImg {
        padding: 50px 35px;
    }
    .munuPizzaInfo {
        width: 100%;
    }
    // Registration and Login Section:
    .loginContainer {
        width: 935px;
    }
    .loginForm {
        padding: 20px 0px;
        width: 90%;
    }
    .notAccount {
        margin: 10px 0px;
        font-size: 20px;
    }
    .loginText {
        margin: 0px 0px;
        font-size: 20px;
    }
    .loginSubText {
        font-size: 13px;
    }
    // Empty Cart Section:
    .cartContainer {
        width: 935px;
        margin: 0px auto;
    }
    .cartButton {
        width: 40%;
        margin: 0 auto;
        font-size: 18px;
        padding: 10px 5px;
        text-align: center;
    }
    .cartImg {
        width: 95%;
        margin: 0px auto;
    }
    .cartHeading {
        padding: 5px 0px;
        font-size: 30px;
        font-weight: bold;
    }
    .cartPara {
        padding: 0px 10px;
        font-size: 16px;
    }
    // Filled Cart Section:
    .fccInfo {
        padding: 15px 0px;
    }
    .fccHeading {
        font-size: 28px;
    }
    .filledCartContainer {
        width: 100%;
    }
    .listImg {
        width: 100px;
        height: 100px;
        padding: 10px 10px;
    }
    .listHeading {
        font-size: 30px;
        font-weight: bold;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }
    .listSize {
        padding: 2px 5px;
        font-size: 12px;
        font-weight: normal;
        width: 60px;
    }
    .firstDiv {
        width: 51%;
    }
    .secondDiv {
        width: 29%;
    }
    .listQuantity {
        padding: 5px 5px;
        font-size: 18px;
        font-weight: bold;
    }
    .listPrice {
        padding: 5px 5px;
        font-size: 18px;
        font-weight: bold;
    }
    .indPizza {
        border-bottom: 2px solid $pure_color;
    }
    .infoSummary {
        text-align: right;
    }
    .priceText {
        font-weight: bold;
        font-size: 20px;
    }
    .totalPrice {
        color: $hover_color;
        font-size: 30px;
    }
    .infoSummaryPrice {
        text-align: center;
    }
    .finalOrderButton {
        padding: 5px 10px;
        border-radius: 22px;
        font-size: 25px;
        display: block;
        width: 100%;
        margin: 35px auto;
        text-align: center;
    }
    .userNotLoged {
        padding: 5px 10px;
        border-radius: 22px;
        font-size: 19px;
        display: block;
        width: 77%;
        margin: 15px auto;
        text-align: center;
    }
    // Single Page:
    .heading {
        padding: 30px 0px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .status {
        background: $background_color;
        width: 935px;
        height: 745px;
    }
    .statusHeading {
        font-weight: bold;
        font-size: 25px;
        padding: 5px 10px;
    }
    .statusId {
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 22px;
        margin-top: 10px;
    }
    .status .lowerPart {
        padding: 0px;
    }
    .statusLine {
        padding-bottom: 70px;
    }
    .statusLine span {
        font-size: 30px;
        margin-left: 60px;
    }
    .statusText {
        padding: 0px 10px;
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .displayContainer {
        width: 699px;
    }
}

// For Tablets:
@media (max-width: 770px) {
    // Navbar Section
    .navbar-dark .navbar-brand {
        color: #f4f4f4;
        font-size: 20px;
        letter-spacing: 0px;
        font-weight: 0px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #f4f4f4;
        font-size: 16px;
    }
    // Home Section:
    .displayContainer {
        padding: 50px 0px;
        width: 695px;
        flex-direction: row;
        justify-content: space-between;
    }
    .w-50 {
        width: 100% !important;
    }
    .displayContainer h3 {
        font-size: 35px;
        font-weight: bold;
    }
    .displayContainer h1 {
        font-size: 29px;
        font-weight: bold;
    }
    .displayImg {
        width: 300px;
        height: 350px;
        margin: 0px auto;
        margin-left: 65px;
    }
    .orderButton {
        font-size: 25px;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    // Menu And Offer Section:
    .menuContainer {
        padding: 15px 0px;
        width: 695px;
    }
    .menu_card {
        width: 45%;
        margin: 10px auto;
        margin-left: 22px;
    }
    .menuPizzaImg {
        padding: 50px 35px;
    }
    .munuPizzaInfo {
        width: 100%;
    }
    // Registration and Login Section:
    .loginContainer {
        width: 695px;
    }
    .loginForm {
        padding: 20px 0px;
        width: 90%;
    }
    .notAccount {
        margin: 10px 0px;
        font-size: 20px;
    }
    .loginText {
        margin: 0px 0px;
        font-size: 20px;
    }
    .loginSubText {
        font-size: 13px;
    }
    // Empty Cart Section:
    .cartContainer {
        width: 695px;
        margin: 0px auto;
    }
    .cartButton {
        width: 40%;
        margin: 0 auto;
        font-size: 18px;
        padding: 10px 5px;
        text-align: center;
    }
    .cartImg {
        width: 95%;
        margin: 0px auto;
    }
    .cartHeading {
        padding: 5px 0px;
        font-size: 30px;
        font-weight: bold;
    }
    .cartPara {
        padding: 0px 10px;
        font-size: 16px;
    }
    // Filled Cart Section:
    .fccInfo {
        padding: 15px 0px;
    }
    .fccHeading {
        font-size: 28px;
    }
    .filledCartContainer {
        width: 100%;
    }
    .listImg {
        width: 100px;
        height: 100px;
        padding: 10px 10px;
    }
    .listHeading {
        font-size: 30px;
        font-weight: bold;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }
    .listSize {
        padding: 2px 5px;
        font-size: 12px;
        font-weight: normal;
        width: 60px;
    }
    .firstDiv {
        width: 51%;
    }
    .secondDiv {
        width: 29%;
    }
    .listQuantity {
        padding: 5px 5px;
        font-size: 18px;
        font-weight: bold;
    }
    .listPrice {
        padding: 5px 5px;
        font-size: 18px;
        font-weight: bold;
    }
    .indPizza {
        border-bottom: 2px solid $pure_color;
    }
    .infoSummary {
        text-align: right;
    }
    .priceText {
        font-weight: bold;
        font-size: 20px;
    }
    .totalPrice {
        color: $hover_color;
        font-size: 30px;
    }
    .infoSummaryPrice {
        text-align: center;
    }
    .finalOrderButton {
        padding: 5px 10px;
        border-radius: 22px;
        font-size: 25px;
        display: block;
        width: 100%;
        margin: 35px auto;
        text-align: center;
    }
    .userNotLoged {
        padding: 5px 10px;
        border-radius: 22px;
        font-size: 19px;
        display: block;
        width: 77%;
        margin: 15px auto;
        text-align: center;
    }
    // Single Page:
    .heading {
        padding: 30px 0px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .status {
        background: $background_color;
        width: 695px;
        height: 745px;
    }
    .statusHeading {
        font-weight: bold;
        font-size: 25px;
        padding: 5px 10px;
    }
    .statusId {
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 22px;
        margin-top: 10px;
    }
    .status .lowerPart {
        padding: 0px;
    }
    .statusLine {
        padding-bottom: 70px;
    }
    .statusLine span {
        font-size: 30px;
        margin-left: 60px;
    }
    .statusText {
        padding: 0px 10px;
        font-size: 30px;
    }
}

// For Mobiles:
@media (max-width: 600px) {
    // Navbar Section
    .navbar-dark .navbar-brand {
        color: #f4f4f4;
        font-size: 20px;
        letter-spacing: 0px;
        font-weight: 0px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #f4f4f4;
        font-size: 16px;
    }
    // Home Section:
    .displayContainer {
        padding: 50px 0px;
        width: 335px;
        flex-direction: column;
        justify-content: space-between;
    }
    .w-50 {
        width: 100% !important;
    }
    .displayContainer h3 {
        font-size: 35px;
        font-weight: bold;
    }
    .displayContainer h1 {
        font-size: 20px;
        font-weight: bold;
    }
    .displayImg {
        width: 230px;
        height: 210px;
        margin: 0px auto;
        margin-left: 65px;
    }
    .orderButton {
        font-size: 15px;
        margin-bottom: 25px;
    }
    // Menu And Offer Section:
    .menuContainer {
        padding: 15px 0px;
        width: 335px;
    }
    .menu_card {
        width: 95%;
        margin-left: 7px;
    }
    .menuPizzaImg {
        padding: 40px 25px;
    }
    .munuPizzaInfo {
        width: 100%;
    }
    // Registration and Login Section:
    .loginContainer {
        width: 335px;
    }
    .loginForm {
        padding: 20px 0px;
        width: 90%;
    }
    .notAccount {
        margin: 10px 0px;
        font-size: 20px;
    }
    .loginText {
        margin: 0px 0px;
        font-size: 20px;
    }
    .loginSubText {
        font-size: 13px;
    }
    // Empty Cart Section:
    .cartContainer {
        width: 335px;
        margin: 0px auto;
    }
    .cartButton {
        width: 40%;
        margin: 0 auto;
        font-size: 18px;
        padding: 10px 5px;
        text-align: center;
    }
    .cartImg {
        width: 95%;
        margin: 0px auto;
    }
    .cartHeading {
        padding: 5px 0px;
        font-size: 30px;
        font-weight: bold;
    }
    .cartPara {
        padding: 0px 10px;
        font-size: 16px;
    }
    // Filled Cart Section:
    .fccInfo {
        padding: 15px 0px;
    }
    .fccHeading {
        font-size: 28px;
    }
    .filledCartContainer {
        width: 100%;
    }
    .listImg {
        width: 50px;
        height: 50px;
        padding: 0px 0px;
    }
    .listHeading {
        font-size: 16px;
        font-weight: normal;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 5px;
    }
    .listSize {
        padding: 2px 5px;
        font-size: 12px;
        font-weight: normal;
        width: 60px;
    }
    .firstDiv {
        width: 51%;
    }
    .secondDiv {
        width: 29%;
    }
    .listQuantity {
        padding: 5px 5px;
        font-size: 12px;
    }
    .listPrice {
        padding: 5px 5px;
        font-size: 12px;
        font-weight: bold;
    }
    .indPizza {
        border-bottom: 2px solid $pure_color;
    }
    .infoSummary {
        text-align: right;
    }
    .priceText {
        font-weight: bold;
        font-size: 20px;
    }
    .totalPrice {
        color: $hover_color;
        font-size: 30px;
    }
    .infoSummaryPrice {
        text-align: center;
    }
    .finalOrderButton {
        padding: 5px 10px;
        border-radius: 22px;
        font-size: 19px;
        display: block;
        width: 77%;
        margin: 20px auto;
        text-align: center;
    }
    .userNotLoged {
        padding: 5px 10px;
        border-radius: 22px;
        font-size: 19px;
        display: block;
        width: 77%;
        margin: 15px auto;
        text-align: center;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    // Single Page:
    .heading {
        padding: 30px 0px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .status {
        background: $background_color;
        width: 335px;
        height: 700px;
    }
    .statusHeading {
        font-weight: bold;
        font-size: 25px;
        padding: 5px 10px;
    }
    .statusId {
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 22px;
        margin-top: 10px;
    }
    .status .lowerPart {
        padding: 0px;
    }
    .statusLine {
        padding-bottom: 70px;
    }
    .statusLine span {
        font-size: 20px;
        margin-left: 60px;
    }
    .statusText {
        display: block;
        padding: 0px 60px;
        font-size: 20px;
        float: right;
    }
}

@media (max-width: 550px) {
    .displayContainer {
        width: 515px;
    }
    .menuContainer {
        width: 515px;
    }
    .loginContainer {
        width: 515px;
    }
    .status {
        width: 515px;
    }
    .cartContainer {
        width: 515px;
    }
    .statusText {
        padding: 0px 105px;
    }
}

@media (max-width: 420px) {
    .displayContainer {
        width: 385px;
    }
    .menuContainer {
        width: 385px;
    }
    .loginContainer {
        width: 385px;
    }
    .status {
        width: 385px;
    }
    .cartContainer {
        width: 385px;
    }
    .statusText {
        padding: 0px 105px;
    }
}

@media (max-width: 380px) {
    .displayContainer {
        width: 350px;
    }
    .menuContainer {
        width: 350px;
    }
    .loginContainer {
        width: 350px;
    }
    .status {
        width: 350px;
    }
    .cartContainer {
        width: 350px;
    }
    .statusText {
        padding: 0px 105px;
    }
}

@media (max-width: 370px) {
    .displayContainer {
        width: 335px;
    }
    .menuContainer {
        width: 335px;
    }
    .loginContainer {
        width: 335px;
    }
    .status {
        width: 335px;
    }
    .cartContainer {
        width: 335px;
    }
    .statusText {
        padding: 0px 105px;
    }
}

@media (max-width: 350px) {
    .displayContainer {
        width: 296px;
    }
    .menuContainer {
        width: 296px;
    }
    .loginContainer {
        width: 296px;
    }
    .status {
        width: 296px;
    }
    .cartContainer {
        width: 296px;
    }
    .secondDiv {
        width: 33%;
    }
    .statusText {
        padding: 0px 105px;
    }
}
