// Color Variables:
$primary_color: #047aed;
$secondary_color: #1c3fa8;
$tertiary_color: rgb(163, 21, 163);
$dark_color: #002240;
$pure_color: #fff;
$light_color: #f4f4f4;
$sucess_color: #5cb85c;
$error_color: #d9534f;
$hover_color: #fe5f1e;
$secondary-hover: #b23301;
$background_color: #ccc;
$dark_color: #232323;

// Transition Variable:
$smooth: all .3s ease-in;
