<div class="container loginContainer">
    <form class="loginForm" method="post" action="/contact">
        <% if(messages.error) { %>
            <div id="errMessage" class="alert alert-danger" role="alert">
                <%= messages.error %>
            </div>
            <% } %>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label loginText">User name:</label>
                    <input name="name" type="text" class="form-control loginInput" placeholder="Enter your name!"
                        id="exampleInputName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label loginText">Email address:</label>
                    <input name="email" type="email" class="form-control loginInput"
                        placeholder="Enter your email address!" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text loginSubText">We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label loginText">Any Message For Us:</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1"
                        placeholder="Message!" rows="10"></textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Send</button>
    </form>
</div>